@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  src: local('Cardo Bold'), local('Cardo-Bold'), url('http://themes.googleusercontent.com/static/fonts/cardo/v4/F1qbHkftp3Y2INXu_OV8PXYhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: normal;
  src: local('Cardo'), local('Cardo-Regular'), url('http://themes.googleusercontent.com/static/fonts/cardo/v4/jRlnAkkwSO-sHIk6eXBl6KCWcynf_cDxXwCLxiixG1c.woff') format('woff');
}
@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  src: local('Cardo Italic'), local('Cardo-Italic'), url('http://themes.googleusercontent.com/static/fonts/cardo/v4/_o7PiXlzRzaHLUF33hOI6ALUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}