@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: normal;
  src: local('Quattrocento Roman Regular'), local('QuattrocentoRoman'), url('http://themes.googleusercontent.com/static/fonts/quattrocento/v2/WZDISdyil4HsmirlOdBRFKRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}