// Import Podkova
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: normal;
  src: local('Podkova'), url('http://themes.googleusercontent.com/static/fonts/podkova/v3/kr_ENTtdlqQbrdQMb3BZtgLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

// Import News Cycle
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: normal;
  src: local('News Cycle'), local('NewsCycle'), url('http://themes.googleusercontent.com/static/fonts/newscycle/v3/9Xe8dq6pQDsPyVH2D3tMQr3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}