@font-face {
  font-family: 'Cagliostro';
  font-style: normal;
  font-weight: 400;
  src: local('Cagliostro Regular'), local('Cagliostro-Regular'), url('http://themes.googleusercontent.com/static/fonts/cagliostro/v2/9YPDJs4jy8n6yJ7GYUYhub3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}