<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
	<title>{% if page.title %}{{page.title}} &mdash; {% endif %}The Blog of Parker Moore</title>
	<link href="/humans.txt" rel="author" type="text/plain">
	<link href="/parker.png" rel="shortcut icon" type="image/png">
	<link href="/atom.xml" rel="alternate" type="application/rss+xml" title="The Blog of Parker Moore">
	<link href="/stylesheets/screen.css" rel="stylesheet" media="screen" id="css">
	<script type="text/javascript" charset="utf-8" src="/javascripts/lifecounter.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24416132-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div id="wrapper">
    <header><a href="/">Parker J. Moore</a></header>
    <div class="line-break"></div>

    <p class="site-description">
        A web developer from Ithaca, NY.<br>
        <a href="http://www.cornell.edu/" target="_blank">Cornell University</a> Junior in <a href="http://www.infosci.cornell.edu/" target="_blank">Information Science</a>.<br>
        Avid runner, photographer and musician.
    </p>

    <div class="line-break"></div>
    
    {{ content }}

    <footer>
        The Blog of Parker Moore&nbsp;
        <span class="special">-</span>&nbsp;
        <a href="/archive/">Archive</a>&nbsp;
    </footer>
</div>
</body>
</html>